<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="es.nachobrito.ai.semanticsearch.App" />
    <module name="semantic-search-playground" />
    <option name="VM_PARAMETERS" value="--enable-native-access=ALL-UNNAMED" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="es.nachobrito.ai.semanticsearch.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>